
{deps, [{restc, ".*", {git, "git://github.com/kivra/restclient.git", {tag, "0.8.1"}}},
    {jiffy, "> 0.0"}, {jwt, "> 0.0"}
]}.

{profiles,
    [{test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [ {meck, "0.8.13"}
               ]}
    ]}
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all
]}.

{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions, deprecated_functions
]}.
